
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>PDF Raporları Sayfası</h1>

<br />
<a href="/Admin/PDF/StaticKullanimi" class="btn btn-danger">Statik PDF Raporu</a>
<a href="/Admin/PDF/StaticKullanimiTablo" class="btn btn-danger">Statik Misafir Raporu</a>

